/*------------------------------------*\
    $EXAMPLE PAGE
\*------------------------------------*/

$ep-gutter: 3%;

.slide {

  h1 {
    margin-top: 0;
  }
  // video {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: contain;
  //   object-position: left center;
  // }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom right;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7vh;
  }
  .grid-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 7vh;
  }
  .grid-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 7vh;
  }
  .grid-item {
    // position: relative;
  }
  //padding: 0 $ep-gutter $ep-gutter;

  p {
      margin: 0 0 10px;
  }
  &__wrapper {
    height: 720px;
    width: 1024px;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: -1;
    counter-reset: section;
  }

  &__block {
    width: 100%;
    height: 100%;
    padding: $ep-gutter 0;
    perspective:800px;
    font-size: calc(100% + 8 * ((100vw - 320px) / 704));
    // padding: $ep-gutter;
    .block-padding {
      padding: 5%;
    }
    .block-border {
      background: #fff;
      height: 100%;
      filter:grayscale(100%);
      // opacity: 0;
      transform-origin: bottom center;
      transform: rotate3d(.1,0,0, -3deg) translateY(12px);
      transition: .8s cubic-bezier(.1, 0.69, .2, 1) all;
      &::before {
        z-index: 1;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-size: 10px;
        display: inline-block;
        counter-increment: section;
        content: counter(section);
      }
    }
    &.active {
      .block-border {
        filter:grayscale(0%);
        transform: rotate3d(.1,0,0, 0deg) translateY(0);
        // opacity: 1;
      }
    }
    @media only screen and (min-width:64em){
      font-size:1.5rem;
    }
  }
  [class^="cycle_"] {
    padding: 4%;
    border-radius: 2px 32px 32px 32px;
  }
}
