---
title: Case Study
---

<div class="slide">
  <div class="slide__wrapper">

    {{#each canon.slides}}
    <div class="slide__block">
      <div class="block-border {{#flush}} pa0 {{else}} block-padding {{/flush}}">
        {{#if ./title}}
          <h1 class="black-40 f6 mv5 ttu tracked">{{./title}}</h1>
        {{/if}}
        {{#if (gte 1 slidecontent.length) }}
          {{#each slidecontent}}
            {{{content}}}
          {{/each}}
        {{ else }}
          <div class="grid {{./layout }}">

            {{#each slidecontent}}
              <div class="grid-item">
                {{{content}}}
              </div>
            {{/each}}
          </div>
        {{/if }}
      </div>
    </div>
    {{/each}}
  </div>
</div>
