/*------------------------------------*\
    $BASE DEFAULTS
\*------------------------------------*/

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    background: 0 0;
}

body {
  background-color: #f6f3f9;
}

// Prevent empty space below images appearing
img,
svg {
    width: 100%;
    vertical-align: top;
}

// sass-lint:disable single-line-per-selector
button, input, select, textarea {
    font-family: inherit;
}

a {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  &:hover {
    color: #000;
  }
}
// sass-lint:enddisable


.row {
  max-width: 800px;
  width: 88%;
  margin: 0 auto;
  position: relative;
}
