.whisper {
    color: #f6f3f9;
}
.bg-whisper {
    background-color: #f6f3f9;
}
.b--whisper {
    border-color: #f6f3f9;
}
.whisper:hover,
.whisper:focus { color: #f6f3f9; }

.hover-bg-whisper:hover,
.hover-bg-whisper:focus { background-color: #f6f3f9; }
